@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>

    St Zee Street<br />
    Redmond, NC 890909090<br />

    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

